target/classes/application.yml
target/classes/b.txt
target/classes/c.txt
target/classes/d.txt
target/classes/e.txt
target/classes/f.txt
target/classes/MyTest.class
target/classes/test.sh
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/test-classes/pom.xmlx
target/test-classes/Test.class
target/test-classes/TestHttp.class
target/test-classes/TestHttp$1.class
target/test-classes/TestJSON.class
target/test-classes/TestOCR.class
target/test-classes/TestREX.class
target/test-classes/TestTimeTask.class
target/test-classes/TestTranslate.class
target/test-classes/TestTranslate2.class
target/test-classes/TestTranslate3.class
